<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




<!--底部菜单栏-->
<div class="row  menu" id="footer">
    <div class="col-xs-4 menu-item-active ">
        <span class="glyphicon glyphicon-home"></span>
        <p>首页</p>
    </div>
    <div class="col-xs-4 menu-item" onclick="trans('/cart/selectUI')">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <p>选号</p>
    </div>
    <div class="col-xs-4 menu-item" onclick="trans('/user/userUI')">
        <span class="glyphicon glyphicon-user"></span>
        <p>我</p>
    </div>
<script>
    function trans(path) {
        location.href=path
    }
</script>
</div>

</body>
</html>